 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.nav {
	background-color: 	#1a1a1a;
}
.nav-item a.is-tab, a.nav-item.is-tab{
	color: #fff;
    padding-left: 12px;
    padding-right: 12px;
}
.nav-item a.is-tab, a.nav-item.is-tab:hover {
	color: #ffdf00;
	border-bottom: 2px solid #ffdf00;
    border-top: 1px solid transparent;
    padding-left: 12px;
    padding-right: 12px;
}

/******** DashBoard PAGE *****/

#dash-hero  {
	background-image: url('img/doubleMe.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.dash-title, 
.dash-subtitle{
	color: 	#ffdf00;
	font-size: 10em;
	padding-top: 10%;
	padding-bottom: 2%;
}
@media only screen and (max-width : 670px) {
    .dash-title, 
	.dash-subtitle {
        font-size: 2em;
    }
}
.whatIDo-img{
	width: 100%;
}
.hero-subheader {
	font-size: 1.2em;
	margin-left: 5%;
}
#index-hero-two {
	background-color: #fff;
}
.dash-imgages{
	display: inline-block;
}
.helloworld-img{
    padding: 0;
    width: 40%;
    display: inline-block;
    margin-top: -20%;
    margin-right: 5%;
    border: 10px solid #fff;
    float: right;
}
.me-img{
    border-radius: 100%;
    padding: 0;
    width: 26%;
    margin-left: 37%;
    display: inline-block;
    margin-top: -25%;
    border: 10px solid #fff;
    float: left;
}
.statement {
	width: 20%;
	margin: 5% 0% 5% 5%;
}
@media (max-width: 600px) {
  .helloworld-img,
  .me-img {
    display: none;
  }
}

/******** ABOUT ME PAGE *****/
#aboutMePage,
#dashboardPage{
	font-family: 'Montserrat', sans-serif;
}
.about-me-text,
.contact-me-text{
	margin-top: 15%;
	margin-bottom: 10%;
	text-align: left;
}
.about-me-letter{
	padding: 0% 5% 5% 5%;
}
.about-me-start {
	font-size: 2em;
	color: 	#ffdf00;
}
.about-images{
	margin-top: 15%;
	margin-bottom: 10%;
	height: 40em;
	width: 80%;
	box-shadow: -10px 10px #ffdf00;
}


/******** PROJECTS PAGE *****/

.allProjects {
	margin-top: 10%;
}
.projectsRow{
	display: inline-block;
}
.singleProject {
	background-color: #ffdf00;
	margin-left: 5%;
	width: 25%;
	height: 10em;
}

/******** CONTACT PAGE *****/
#contactPage{
	background-color: #fff;
}
.letsCreate-img{
	width: 80%;
	margin-left: 5%;
	margin-top: 10%;
}
.contact-hero{
	background: url('img/BEACH.png');
	background-repeat: no-repeat;
}

.col-content{
	text-align: center;
}
.content a:not(.button){
    color: #fff;
}
.content a:not(.button):visited {
    color: #fff;
}
.content a:not(.button):hover {
    color: #ffdf00;
}
.contact-me-links{
	text-align: left;
}
.contact-button{
	background-color: #000;
	font-size: 1.5em;
	width: 15%;
	margin-left: 12%;
	text-align: center;
	display: inline-block;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 5%;
	margin-top: 5%;
}
.contact-icon{
	padding-top: 2%;
}



